.container {
    display: flex;
}

.grid-computer {
    width: 400px; 
    height: 400px; 
    display: flex;
    flex-wrap: wrap;
    background-color: salmon;
    margin: 20px;
}

.grid-user {
    width: 400px; 
    height: 400px; 
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
}



.grid-display {
    width: 400px; 
    height: 400px; 
    margin: 20px; 
    background-color: yellowgreen;
}

.grid div {
    width: 40px; 
    height: 40px; 
    /*background-color: goldenrod;*/
}

/* SHIPS */

.destroyer-container {
    width: 80px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: turquoise;
}

.destroyer-container-vertical {
    width: 40px; 
    height: 80px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: turquoise;
}

.destroyer {
    background-color: turquoise;
}

.submarine-container {
    width: 120px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: pink;
}

.submarine-container-vertical {
    width: 40px; 
    height: 120px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: pink;
}


.submarine {
    background-color: pink;
}

.cruiser-container {
    width: 120px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: lightslategray;
}

.cruiser-container-vertical {
    width: 40px; 
    height: 120px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: lightslategray;
}

.cruiser {
    background-color: lightslategray;
}

.battleship-container {
    width: 160px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: orangered;
}

.battleship-container-vertical {
    width: 40px; 
    height: 160px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: orangered;
}

.battleship {
    background-color: orangered;
}

.carrier-container {
    width: 200px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: greenyellow;
}

.carrier-container-vertical {
    width: 40px; 
    height: 200px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: greenyellow;
}

.carrier {
    background-color: greenyellow;
}

.ship div {
    width: 40px; 
    height: 40px; 
}

/* HOT or MISS styles - visualized during gameplay */

.boom {
    background-color: red;
}

.miss {
    background-color: greenyellow;
}

/* Multiplayer styles */

.connected, .ready {
    font-weight: normal;
}

.connected span, 
.ready span {
    display: inline-block;
    width: 1rem; 
    height: 1rem;
    background-color: red;
}

/* ! In app.js we're toggling the class list of the <span> in "connected" - adding a classname green - here will update the css so that when that classname is added by the JS, the span will become green! */

span.green {
    background-color: green;
}


