/* Font family: 'Bangers', cursive; */
/* Body font: font-family: 'Montserrat', sans-serif; */

body {
    margin: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

/* Makes sizing all the elements a little easier to reason about */
/* font family added here to give EVERYTHING the Montserrat family unless otherwise specified */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh;
}

.splash-title {
    font-family: 'Bangers', cursive;
    font-size: 10rem;
}

.splash-battleship-image {
    position: absolute;
    bottom: 5vh;
    left: 20vw;
    width: 100%;
    z-index: -10;
    /*transform: rotateY(180deg);*/
    pointer-events: none;
    opacity: .55;
}

.btn {
    /* hsl = hue, saturation, lightness */
    background-color: hsl(30, 100%, 50%);
    padding: .5em 1em; 
    outline: none; 
    border: none; 
    text-decoration: none;
    cursor: pointer; 
    border-radius: .2em;
    color: #333; 
}

.btn:hover, .btn:focus {
    background-color: hsl(30, 100%, 35%);
}

.splash-btn {
    font-size: 2rem;
    margin-left: 2rem;
}

.splash-btn:first-child {
    margin-left: 0;
}


/*Player Gamboards*/

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.battleship-grid {
    margin: 2vmin;
    display: grid;
    background-color: hsl(200, 100%, 50%);
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}


.battleship-grid div {
    /* hsla - hue, saturation, lightness, alpha model */
    /* These colors are an extension of hsl colors with an ALPHA CHANNEL */
    /* The alpha model defines the opacity as a number between 0.0 and 1.0 */
    border: 1px solid hsla(0, 0%, 100%);
}



.grid-display {
    width: 400px; 
    height: 400px; 
    margin: 20px; 
    background-color: yellowgreen;
}



/* SHIPS */

.destroyer-container {
    width: 80px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: turquoise;
}

.destroyer-container-vertical {
    width: 40px; 
    height: 80px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: turquoise;
}

.destroyer {
    background-color: turquoise;
}

.submarine-container {
    width: 120px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: pink;
}

.submarine-container-vertical {
    width: 40px; 
    height: 120px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: pink;
}


.submarine {
    background-color: pink;
}

.cruiser-container {
    width: 120px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: lightslategray;
}

.cruiser-container-vertical {
    width: 40px; 
    height: 120px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: lightslategray;
}

.cruiser {
    background-color: lightslategray;
}

.battleship-container {
    width: 160px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: orangered;
}

.battleship-container-vertical {
    width: 40px; 
    height: 160px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: orangered;
}

.battleship {
    background-color: orangered;
}

.carrier-container {
    width: 200px; 
    height: 40px; 
    display: flex;
    margin: 10px;
    background-color: greenyellow;
}

.carrier-container-vertical {
    width: 40px; 
    height: 200px; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: greenyellow;
}

.carrier {
    background-color: greenyellow;
}

.ship div {
    width: 40px; 
    height: 40px; 
}

/* HOT or MISS styles - visualized during gameplay */

.boom {
    background-color: red;
}

.miss {
    background-color: greenyellow;
}

/* Multiplayer styles */

.connected, .ready {
    font-weight: normal;
}

.connected span, 
.ready span {
    display: inline-block;
    width: 1rem; 
    height: 1rem;
    background-color: red;
}

/* ! In app.js we're toggling the class list of the <span> in "connected" - adding a classname green - here will update the css so that when that classname is added by the JS, the span will become green! */

span.green {
    background-color: green;
}


